*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #232323;
}

nav.sidebar{
    width: 70px;
    height: 100%;
    background: #f0f5f3;
    padding: 40px 0 40px; 
    position: fixed;
    top: 0;
    left: 0; 
    /*overflow: hidden;*/
}

.logo{
    width: 100%;
    margin: 0 15px;
}

.logo > i{
    color: black;
    font-size: 40px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.itens a:hover{
    color:	#00FFFF;
}

ul li.itens a{
    color: black;
    text-decoration: none;
    font-size: 2em;
    padding: 4% 4%;
    display: flex;
    margin: 70px 15px 30px;
    position: relative;
}

.overlay {
    display: none;
    position: relative;
    top: 15vh;
    left: 5vw;
    width: 20%;
    height: 33%;
    background-color: #111;
    border-radius: 5px;
    box-shadow: 1px 1px 1px; /* Cor e opacidade da sobreposição */
    z-index: 1000; /* Certifique-se de que a sobreposição fique acima de outros elementos */
}

.overlay.active {
    display: block; /* Exibir a sobreposição quando a classe "active" é aplicada */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1001; /* Certifique-se de que o botão fique acima da sobreposição */
    cursor: pointer;
    height: 22px;
    width: 8%;
    border-radius: 6px;
    align-items: center;
}

.button-open{
    color: #00FFFF;
}
