* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

#root, html {
    background-color: #0F1923;
    width: 100%;
    min-height: 100vh;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

button:focus {
    outline: 1px solid #0BF0D5;
}